<!-- %= form_for(current_user.active_relationships.build) do |f| % -->
  <!-- div>
    <!--%= hidden_field_tag :followed_id, @user.id %-->
  <!-- /div -->
  <!-- %= f.submit "Follow", class: "btn btn-primary" %-->
<!-- % end % -->


<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>